@import url('https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100;200;300;400;500;600;700;800;900&display=swap');

  @keyframes float 
      0%
        filter drop-shadow(0px 5px 15px #000000);
        transform translatey(0px)                   
      50%
        filter drop-shadow(0px 25px 15px #000000);
        transform translatey(-10px)                 
      100%
        filter drop-shadow(0px 5px 15px #000000);
        transform translatey(0px)              

$font-size = 14px
$genera-color-1 = #01010D
$genera-color-2 = #010A27
$genera-color-3 = #0577BE
$genera-color-4 = #3691A6
$genera-color-5 = #387357

$Hufflepuff-color-1 = #E3A900
$Hufflepuff-color-2 = #BD611E
$Hufflepuff-color-3 = #C29D70
$Hufflepuff-color-4 = #F7BF74
$Hufflepuff-color-5 = #F09800
$Hufflepuff-color-6 = #4B2E20

$Slytherin-color-1 = #BDD3C7
$Slytherin-color-2 = #67997C
$Slytherin-color-3 = #277045
$Slytherin-color-4 = #1B4D30
$Slytherin-color-5 = #0F2C1A

$Ravenclaw-color-1 = #000B38
$Ravenclaw-color-2 = #003A7A
$Ravenclaw-color-3 = #3A6697
$Ravenclaw-color-4 = #B0A5A1
$Ravenclaw-color-5 = #A18883
$Ravenclaw-color-6 = #4E443B

$Gryffindor-color-1 = #471B1C
$Gryffindor-color-2 = #5A130F
$Gryffindor-color-3 = #7E0001
$Gryffindor-color-4 = #AB3A12
$Gryffindor-color-5 = #C38D5F
$Gryffindor-color-6 = #FDA237


.logoHufflepuff
  background-color $Hufflepuff-color-1
  cursor pointer

.logoSlytherin
  background-color $Slytherin-color-3
  cursor pointer

.logoGryffindor
  background-color $Gryffindor-color-2
  cursor pointer

.logoRavenclaw
  background-color $Ravenclaw-color-2
  cursor pointer
